aiofiles==25.1.0
aiosqlite==0.22.1
asyncua==0.9.92
bcrypt==5.0.0
bidict==0.23.1
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.4
dash==3.4.0
dnspython==2.8.0
eventlet==0.40.4
filelock==3.20.3
Flask==3.1.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.2
Flask-SocketIO==5.6.0
fsspec==2026.1.0
greenlet==3.3.1
gunicorn==24.1.1
h11==0.16.0
idna==3.11
importlib_metadata==8.7.1
influxdb-client==1.50.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
lxml==6.0.2
MarkupSafe==3.0.3
mpmath==1.3.0
narwhals==2.15.0
nest-asyncio==1.6.0
networkx==3.6.1
numpy
opcua==0.98.13
packaging
pandas
plotly
psutil
pycparser
PyQt6
PyQt6-Qt6
PyQt6_sip
pyqtgraph
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
qasync
reactivex
requests
retrying
scikit-learn
scipy
setuptools
simple-websocket
six
sortedcontainers
sympy
threadpoolctl
torch
typing_extensions
tzdata
urllib3
Werkzeug
wsproto
zipp
pyarrow
fastparquet
