<!DOCTYPE html>
<html lang="en" class="h-full bg-slate-50 overflow-hidden">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>INNOMOTICS-AI | Industrial Control (Offline)</title>

    <link rel="stylesheet" href="/static/styles/style.css"/>
    <link rel="stylesheet" href="/static/styles/fallback.css"/>

    <script src="/static/lib/chart.js"></script>
    <script src="/static/lib/chart-adapter.js"></script>
    <script src="/static/lib/socket.io.js"></script>
    <script src="/static/lib/plotly.js" defer></script>
    <script type="module" src="/static/js/actions.js"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

</head>

<body class="text-slate-800 font-sans antialiased flex flex-col text-sm">

<div id="app" class="flex flex-col h-full"></div>


</body>
</html>